@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&family=Peddana&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&family=Peddana&family=Satisfy&family=Yanone+Kaffeesatz:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    max-width: 1500px;
    /* margin: auto; */
    background-color: slategrey;
    font-family: 'Bitter', serif;
}
.nav{
    display: flex;
    background-color: #c3b4c5e0;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 800;
    position: sticky;
    top: 0;
}

.list{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.list a{
    color: #1b1b1b;
    text-decoration: none;
    font-size: 30px;
}
.list a:hover{
    background-color:   rgba(255, 255, 255, 0.623) ;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
/* banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
button{
    font-size: 30px;
    border-radius: 50px;
    background-color: darkgrey;
    padding: 15px;
    color: #26a3c9;
    margin-top: 30px;
    cursor: pointer;
}
/* used for Heading */
.sec{
    /* border: 1px solid burlywood; */
    height: auto;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 100px;
    background-color: rgba(95, 108, 121, 0.397);
}
/* About Section */
.align{
    margin-top: 10px;
    text-align: left
}

/*   Skill Section    */

.skill-p
{
    text-align: left;
    tab-size: 25px;
    margin: 20px 0;
    font-weight: normal;

}

.skill-wrapper
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.skill
{
    margin-left: 25px;
    width:80%
    
}
.skill-heading
{
    display: flex; 
    justify-content: space-between;
    margin-bottom:10px;
    margin-top: 50px;
    font-size: 30px;
}
.skill-bgc
{
    width:100%; 
    background-color:#778da9; 
    height: 30px;
}
.skill-bar-html
{
    width:98%; 
    background-color:#e0e1dd; 
    height: 30px;
}
.skill-bar-css
{
    width:87%; 
    background-color:#e0e1dd; 
    height: 30px;
}
.skill-bar-bootstrap
{
    width:50%; 
    background-color:#e0e1dd; 
    height: 30px;  
}
.skill-bar-javascript
{
    width:10%; 
    background-color:#e0e1dd; 
    height: 30px;    
}

/*     Blog     */

.name{
    font-size: 25px;
    font-weight: 600;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 50px ;
}
.blog img{
    width: 400px;
    height: 300px;
    box-shadow: 5px 5px 5px 5px rgba(3, 4, 5, 0.712);
    border-radius: 20%;
    margin-top: 50px;
}
/*    Services     */
.card{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid goldenrod; */
    gap: 50px ;
    padding: 100px 0;
}
.packet{
    margin: 20px 10px;
    box-shadow: 0 4px 8px 0;
    text-align: center;
}
.packet h5{
    font-weight:500;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.packet p{
    padding-top: 20px;
    font-size: 20px;
}
/*     From       */
form{
    text-align: left; 
    font-size: 30px;
    margin-top: 50px;
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
}
input[type=email] {
    width: 50%;
    padding: 12px 10px;
}
.button{
    border-radius: 10px;
    padding: 20px;
    font-family: 'Bitter', serif;
    font-weight: 500;
}
/* Footer */
footer{
    text-align: Center;
    align-items: center;
}
@media screen and (min-width: 250px) and (max-width: 800px){
    
    .nav{
        background-color: rgba(128, 128, 128, 0.37);
    }
    
    .list{
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
}
.banner{
    display: grid;
    height: auto;
}
.skill-wrapper
{
  display: grid; 
  grid-template-columns: repeat(1,1fr); 
  text-align: 20px auto;
}
.blog{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.card{display: grid; grid-template-columns: repeat(1,1fr);}
.massage{
    width: 300px;
}
.main-skill{
    display: grid;   
}
}
